.table-container {
    background-color: white;
    box-shadow: 4px 3px 3px rgba(0, 0, 0, .3);
    width: 60%;
    border: none;
    margin: auto;
    float: none;
    padding: 16px;
}
td {
    border-bottom: 1px solid grey;
    padding: 16px 0;
}

script{
    margin: auto;
}