/* Heading*/
.headwrapper{
/* position: relative;
z-index: 99;
left: 0;
right: 0; */
    border: 1px solid #eee;
    height: 35px;
    margin-top: 0px;
}
.head-first{
    
    color:#bababa;
    position: relative;
    z-index: 98;
    
 
}
.head-first{
   
}

.container{
    max-width: 1140px;
    padding: 0px;
    margin: 0 auto;

}
.head-first-left{
        /* float: left; */
        margin: 0px;
}
.head-first-rigt{
    /* float: right; */
    margin: 0px 20px;
    display: inline-block;
}
.fb{
    float: right;
    margin-right: 310px;
    margin-top: -12px;
}
cr1{
    float: right;
    margin: 375px;
    margin-top: -12px;
}
.headwrapper-inner{
    background: #ffffff;
    margin-bottom: 40px;
}
/* .logo-clever{
    float: right;
    margin-left: -390px;
    margin-top:60px;
} */
.logo{
    float: left;
    margin-top: 50px;
    margin-left: 92px;
}
/* Dropdown */
.dropbtn1 {
    background-color: #fff;
    color:rgb(29, 26, 26);
    padding: 12px;
    font-size: 12px;
    border: none;
    cursor: pointer;
}

.dropdown1 {
    position: relative;
    display: inline-block;
}

.dropdown-content1 {
    display: none;
    position: absolute;
    background-color: #222222;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(3, 3, 3, 0.2);
    z-index: 1;
}

.dropdown-content1 a {
    color: #fff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}



.dropdown1:hover .dropdown-content1 {
    display: block;
}

/* Dropdown list with colums*/

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
    background-color: red;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 100%;
    left: 0;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content .header {
    background: red;
    padding: 16px;
    color: white;
}

.dropdown:hover .dropdown-content {
    display: block;
}




/* Image section */
.myslides{
    
}
.img-container {
    position: relative;
    text-align: center;
    color: rgba(71, 67, 67, 0.473);
}
.txt-centered {
    position: absolute;
    top: 50%;
    left: 10%;
    font-size: 36px;
    transform: translate(-50%, -50%);
}
.txt-course{
     position: absolute;
     top: 60%;
     color: rgba(0, 0, 0, 0.733);
     left: 12%;
     font-size: 46px;
     transform: translate(-50%, -50%);
}
.txt-meet{
         position: absolute;
         top: 68%;
         color: rgba(0, 0, 0, 0.438);
         left: 16%;
         font-size: 18px;
         transform: translate(-50%, -50%);
}
.btn-learn{
      position: absolute;
      top: 78%;
      color:#fff;
      background: #66b0ab;
      left: 10%;
      padding: 15px;
      font-size: 18px;
      transform: translate(-50%, -50%);
}
.txt-course-img2 {
    position: absolute;
    top: 30%;
    color: #ffffff;
    font-family: "Montserrat";
    right: -10%;
    font-size: 58px;
    transform: translate(-50%, -50%);
}
.txt-improve {
    position: absolute;
    top: 45%;
    color: #9f9f9f;
    right: -1%;
    font-size: 30px;
    transform: translate(-50%, -50%);
    font-family: "Montserrat";

}
.btn-learn-img2 {
    position: absolute;
    top: 68%;
    color: #fff;
    background: #66b0ab;
    right: 12%;
    padding: 15px;
    font-size: 18px;
    transform: translate(-50%, -50%);
}
/* section 3 */
.row {
    display: flex;
    padding: 28px;
    padding-left: 100px;
    /* flex-wrap: wrap; */
    /* margin-right: -15px;
    margin-left: -15px; */
}
.col-lg-3 {
    flex: 0 0 25%;
    max-width: 25%;
}

.col-sm-6 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 1px;
    padding-left: 6px;
}
.single-service {
    margin-top: 40px;
}
.desc {
    width: 72%;
}
.section-images {
    width: 55%;
    padding-left: 80px;
    margin-bottom: 30px;
}
.image-section {
    padding: 0px;
}
.text-uppercase{
    color: #292929;
    font-size: 16px;
}
.text-white{
   color:  #909090;
}

/* section -3 */
.section3-container{
   width: 100%;
   height: 150px;
   background: rgba(0, 0, 0, 0.25);
}
.section3-text{
        float: left;
        color: #414141;
            font-family: "Raleway";
                font-size: 24px;
                margin-left: 140px;
                padding-top: 40px;
}
.secttion3-text2{
    float: left;
    color: #414141;
    font-family: "Raleway";
    font-size: 20px;
    margin-left: 140px;
    padding-top: 60px;
}
.text-whites {
    color: #909090;
    font-size: 16px;
}
.section3-btn{
        float: right;
        margin-right: 120px;
        margin-top: 50px;
        
       background:  #555555;
       color: #fff;

           display: inline-block;
           font-size: 12px;
           padding: 15px 23px;
           margin-bottom: 15px;
           
           outline: none;
           cursor: pointer;
           text-transform: uppercase;
           font-weight: 700;
           letter-spacing: 1px;
           border: none;
}

/* SECTION 4 */
.section4-container{
float: left;
}
.sec4-head{
    text-align: center;
}
.sec4-btn1{
    border-radius:80%;
   
    margin-top: 50px;
    text-align: center;
    
    background: #72d5cd;
        padding: 15px 23px;
        color: #fff;
}
.sec4-text{
    text-align: center;
        margin-left: 550px;
        padding-top: -50px;
}
.sec4-btn2 {
    border-radius: 80%;
    float: right;
    margin-top: -50px;
    margin-right: -130px;
    background: #72d5cd;
    padding: 15px 23px;
    color: #fff;
}
.sec4-view{
    margin-left: 550px;
    color:#72d5cd;
    margin-top:30px;
}
.gdlr-item-title-wrapper .gdlr-flex-prev {
    margin-right: 40px;
    padding: 15px 22px 15px 19px;
    overflow: hidden;
    border-radius: 50%;
    background-color: #72d5cd;

}
/* Menu list */
ul {
    float: right;
    margin-right: 55px;
    list-style-type: none;
    
    padding: 53px;
    margin-top: 0px;
}

li {
    float: left;
    margin-left: 50px;
    font-size: 12px;
    margin-top: -10px;
}
/* Section 5 */
.search-img{
    height: 400px;
    width: 100%;
}
.txt-search{
   color: white;
  position: absolute;
  top:50%;
  left:50%;

  font-size: 24px;
  transform: translate(-50%, -50%);
}
.img-search-container {
    position: relative;
    text-align: center;
    color: rgba(71, 67, 67, 0.473);
}
.dash{
     position: absolute;
     top: 55%;
     left: 48%;
     color: white;
     
         width: 30px;
         margin-top: 25px;
         border-bottom-width: 1px;
         border-bottom-style: solid;
     }

.txt-fill{
    position: absolute;
    top:65%;
    left:41%;
    font-size: 16px;
    color: white;
}
.txt-box-xs{
    position: absolute;
    top : 80%;
    left: 18%;
 }
.txt-box-ls{
      position: absolute;
      top: 80%;
      left: 34%;
}
.txt-box-lg {
    position: absolute;
    top: 80%;
    left: 50%;
}
.btn-search-btn{
position: absolute;
top: 80%;
left: 79%;
}
.container {
    max-width: 1140px;
}
/* Section 6 */
.section6-container{
    
    max-width: 1140px;

}
.four {
    width: 33.333%;
}
.columns {
    
    position: relative;
    min-height: 1px;
    left: 25%;
}
.gdlr-item-title-wrapper.gdlr-item {
    margin-bottom: 40px;
        color: #292929;
        border-color: #292929;
            font-size: 18px;
                margin-left: 80px;
                    margin-top: 50px;
}
.gdlr-item {
    margin: 0px 15px 20px;
    min-height: 1px;
}
.gdlr-item-title-wrapper.pos-left .gdlr-item-title-head {
    display: inline-block;
    margin-right: 12px;
   
}
.title{
    font-size: 16px;
        display: inline-block;
        margin-top: 0px;
 color: #72d5cd;
}