.pageWrapper{
	width: 60%;
	height: 500px;
	border: 1px solid #666;
	background: #efefef;
	margin: auto;
	margin-top: 50px;
}
.box1{
	width: 150px;
	height: 150px;
	background: #efefef;
	margin: auto;
	margin-top: 150px;
}
.box{
	width: 150px;
	height: 70px;
	background: #a4c639;
	margin: auto;
	margin-top: 50px;
		border-radius: 240px 240px 0% 0%;
	cursor: pointer;
}

.box-body{
	width: 150px;
	height: 130px;
	background: #a4c639;
	margin: auto;
	margin-top: 5px;
		border-radius: 0px 0px 10% 10%;
	cursor: pointer;
}

.box-hand{
	width: 50px;
	height: 130px;
	background: #a4c639;
	margin: auto;
	margin-top: -130px;
		border-radius: 30px 30px 30px 30px;
	cursor: pointer;
	margin-left: 270px;
}

.box-hand2{
	width: 50px;
	height: 130px;
	background: #a4c639;
	margin: auto;
	margin-top: -130px;
		border-radius: 30px 30px 30px 30px;
	cursor: pointer;
	margin-right: 270px;
}
.box-leg{
	width: 50px;
	height: 130px;
	background: #a4c639;
	margin: auto;
	
		border-radius: 30px 30px 30px 30px;
	cursor: pointer;
	    margin-left: 350px;
    margin-top: -40px;
}
.box-leg2{
	width: 50px;
	height: 130px;
	background: #a4c639;
	margin: auto;
	margin-top: -130px;
	margin-left: 410px;
		border-radius: 30px 30px 30px 30px;
	cursor: pointer;
	
}

.eyes{
	height: 10px;
	width: 10px;
	background: #fff;
	border-radius: 100%;
	float: left;
	       margin-left: 370px;
    margin-top: -35px;
}
.eyes2{
	height: 10px;
	width: 10px;
	background: #fff;
	border-radius: 100%;
	float: left;
	       margin-left: 425px;
    margin-top: -35px;
}
.nose{
	width: 10px;
	height: 5px;
	background: #fff;
         margin-left: 403px;
    margin-top: -72px;
  float: left;
}

.mouth{
	height: 25px;
	width: 60px;
	background: #001;
	border-radius: 100% 100% 100px 100px;
	float: left;
	     margin-left: 375px;
    margin-top: -130px;
}


